<<<<<<< HEAD

/* ******************************************************
*************** Components ***************************
****************************************************** */
=======
/* Global Styles */

@font-face {
    font-family: DIN Next LT W23;
    src: url(./../fonts/din-next-lt-w23-regular.ttf);
}

/* Global Styles */
>>>>>>> bb27735bef8a9f61fe12dc9426bd4043b7ede067

/* Login, Registration, Verification */

.login .user {
    background-image: url('./../img/bg_elements.jpg');
    background-size: cover;
}

.login .user .login_btn {
    color: #4E2F8A;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    background: #FFFFFF;
    border: 2px solid #4E2F8A;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.login .design {
    background-color: #4E2F8A;
    height: 100vh;
}

.login .designs {
    left: 0;
    bottom: 0;
    height: 100vh;
}

.login .designs img:nth-child(1) {
    left: 3.8%;
    bottom: 15%;
}

.login .designs img:nth-child(2) {
    left: 10.5%;
    bottom: 8.52%;
    width: 490px;
}

/* Login, Registration, Verification */

/* Sidebar Component Start */

.saidebar-user-D .content{
    width: 263px;
    height: 719px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}
.saidebar-user-D .content .link{
    padding: 13px 0;
}
.saidebar-user-D .content a{
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    font-family: DIN Next LT W23;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-decoration: none;
}
.saidebar-user-D .content  .active{
    color: #4E2F8A !important;
}
.saidebar-user-D .content .icon{
    width: 32px;
    height: 17px;
}


/* Sidebar Component End */
