* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: DIN Next LT W23;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.primary-color{
    color: #F16724 !important;
}
.bg-purple{
    background: #4E2F8A !important;
}
.bg-orange{
    background: #F16724!important;
}