/*Start Landing Page*/

/*Start Header*/

@media screen and (max-width: 992px) {
    .landing-page .footer .popup {
        top: -25% !important;
    }
}

/* Paragraph in header -> Landing Page */

@media (max-width:576px) {
    .landing-page .Header .pragraph-header {
        font-size: 21px !important;
    }
}


/*Footer section start*/
@media (max-width:768px) {
    .landing-page .footer .popup {
        top: -135px !important;
        text-align: center;
    }
}

/*Footer section End*/