/*Start Landing Page*/

/*Start Header*/

@media screen and (max-width: 992px) {
    .landing-page .footer .popup {
        top: -25% !important;
    }

    .feedback .paragraph p {
        font-size: 15px !important;
    }
}

/* Paragraph in header -> Landing Page */

@media (max-width:576px) {
    .landing-page .Header .pragraph-header {
        font-size: 21px !important;
    }
}


/*Footer section start*/
@media (max-width:768px) {
    .landing-page .footer .popup {
        top: -135px !important;
        text-align: center;
    }
}

@media screen and (max-width: 394px) {
    .landing-page .footer .logo {
        padding-top: 10rem !important;
    }
}

@media screen and (max-width: 301px) {
    .landing-page .footer .logo {
        padding-top: 15rem !important;
    }
}

/*Footer section End*/